@keyframes animacion_restaurar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes animacion_reproducir {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animacion_circulos_ficha {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  0% {
    transform: translateY(0px);
  }
}
@keyframes animacion_texto_vertical_karl {
  0% {
    transform: translateX(-20px) rotate(-90deg);
    opacity: 0;
  }
  30% {
    transform: translateX(-20px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) rotate(-90deg);
    opacity: 1;
  }
}
@keyframes animacion_palabra_1_karl {
  0% {
    transform: translateX(800px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animacion_palabra_2_karl {
  0% {
    transform: translatey(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animacion_palabra_3_karl {
  0% {
    transform: translatey(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animacion_palabra_4_karl {
  0% {
    transform: translateX(-800px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animacion_palabra_5_karl {
  0% {
    transform: rotate(90deg) translate(640px, 20px);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg) translate(240px, 20px);
    opacity: 1;
  }
}
@keyframes animacion_palabra_5_karl_md {
  0% {
    transform: rotate(90deg) translate(640px, 25px);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg) translate(220px, 50px);
    opacity: 1;
  }
}
@keyframes animacion_palabra_5_karl_lg {
  0% {
    transform: rotate(90deg) translate(640px, 20px);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg) translate(240px, 35px);
    opacity: 1;
  }
}
@keyframes animacion_texto_armin {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  30% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animacion_pieza_armin {
  0% {
    transform: scale(0) translateX(50px) rotate(-40deg) translateY(10px);
  }
  20% {
    transform: scale(0) translateX(50px) rotate(-40deg) translateY(10px);
  }
  100% {
    transform: scale(1.9) translateX(50px) rotate(20deg) translateY(10px);
  }
}
@keyframes animacion_pieza_armin_md {
  0% {
    transform: scale(1) translateX(-100px) rotate(-40deg) translateY(-400px);
  }
  20% {
    transform: scale(1) translateX(-100px) rotate(-40deg) translateY(-400px);
  }
  100% {
    transform: scale(1) translateX(-50px) rotate(20deg) translateY(-60px);
  }
}
@keyframes animacion_pieza_armin_sm {
  0% {
    transform: scale(0.7) translateX(-200px) rotate(-40deg) translateY(-460px);
  }
  20% {
    transform: scale(0.7) translateX(-200px) rotate(-40deg) translateY(-460px);
  }
  100% {
    transform: scale(0.7) translateX(-140px) rotate(20deg) translateY(-140px);
  }
}
@keyframes animacion_pieza_interior_armin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(0.5) rotate(-90deg);
  }
  100% {
    transform: scale(1) rotate(-90deg);
  }
}
@keyframes animacion_letras_milton {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes animacion_circulo_milton {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

@media (max-width: 1199px) {
  body {
    padding-bottom: 8em;
    margin-top: 2em;
  }
}
@media (max-width: 1199px) {
  .swiper-button-next, .swiper-button-prev {
    top: 30%;
  }
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.7em;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}
.controles {
  position: absolute;
}
.controles .controles__container button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8em;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.301);
  transition: 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}
.controles .controles__container button::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-size: 13px 13px;
  background-position: center;
  background-repeat: no-repeat;
}
.controles .controles__container button:hover {
  background-color: #000;
}
.controles .controles__container button:hover::before {
  filter: invert(1);
}
.controles .controles__container .control_reproduccion::before {
  background-image: url(/img/play.png);
}
.controles .controles__container .control_reproduccion:hover::before {
  animation: animacion_reproducir 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.controles .controles__container .control_restauracion::before {
  background-image: url(/img/redo.png);
  background-size: 15px 15px;
}
.controles .controles__container .control_restauracion:hover::before {
  animation: animacion_restaurar 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.controles .controles__container .control_color {
  display: block;
  max-width: 0px;
  margin-bottom: 0.6em;
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
.controles .controles__container .control_color:nth-of-type(2) {
  transition-delay: 0.4s;
}
.controles .controles__container .control_color:nth-of-type(3) {
  transition-delay: 0.8s;
}
.controles .controles__container .icono-controles {
  max-width: 20px;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
}

@media (max-width: 1199px) {
  .controles {
    position: unset;
    max-width: 300px;
    margin: auto;
    margin-top: 2em;
  }
  .controles .controles__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .controles .controles__container button {
    margin-bottom: 0;
  }
  .controles .controles__container button:first-of-type {
    margin-right: 0.4em;
  }
  .controles .controles__container .controles__animacion,
.controles .controles__container .controles__color {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controles .controles__container .controles__color .control_color {
    margin-right: 0.3em;
    margin-bottom: 0;
  }
  .controles .controles__container .controles__color .control_color:last-of-type {
    margin-right: 0;
  }
}
.ficha-disenador .ficha-disenador__nombre {
  font-family: "kanit", sans-serif;
  font-weight: 700;
  font-size: 2em;
}
.ficha-disenador .ficha-disenador__row {
  position: relative;
  max-width: 120px;
}
.ficha-disenador .ficha-disenador__row .ficha-disenador__fotografia {
  object-fit: cover;
  height: 120px;
  width: 120px;
  object-position: left;
  border: 6px solid #ffffff;
  border-radius: 50%;
}
.ficha-disenador .ficha-disenador__row .circulo {
  position: absolute;
  left: 180px;
  top: 0;
  height: 20px;
  width: 20px;
  object-fit: cover;
  object-position: left;
  opacity: 0.3;
  border-radius: 50%;
  animation: animacion_circulos_ficha cubic-bezier(0.215, 0.61, 0.355, 1) infinite 3s;
}
.ficha-disenador .ficha-disenador__row .circulo:nth-of-type(2) {
  left: 210px;
  top: 20px;
  width: 14px;
  height: 14px;
  opacity: 0.2;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ficha-disenador .ficha-disenador__row .circulo_grande {
  left: 40px;
  height: 120px;
  width: 120px;
  opacity: 0.4;
  z-index: -1;
  animation: unset;
}
.ficha-disenador .ficha-disenador__biografia {
  max-width: 500px;
  margin: auto;
  font-size: 0.9em;
  color: #6b6a6a;
  margin-top: 1.8em;
}

@media (max-width: 1199px) {
  .ficha-disenador {
    margin-top: 2em;
    text-align: center;
  }
  .ficha-disenador .ficha-disenador__row {
    margin: auto;
  }
  .ficha-disenador .ficha-disenador__row .circulo {
    left: 140px;
  }
  .ficha-disenador .ficha-disenador__row .circulo:nth-of-type(2) {
    left: 165px;
  }
  .ficha-disenador .ficha-disenador__row .circulo_grande {
    left: 40px;
  }
}
@media (max-width: 490px) {
  .ficha-disenador .ficha-disenador__nombre {
    font-size: 1.4em;
  }
  .ficha-disenador .ficha-disenador__row {
    max-width: 90px;
  }
  .ficha-disenador .ficha-disenador__row .ficha-disenador__fotografia {
    width: 90px;
    height: 90px;
  }
  .ficha-disenador .ficha-disenador__row .circulo_grande {
    width: 90px;
    height: 90px;
    left: 30px;
  }
}
.poster {
  max-width: 600px;
  margin: auto;
  height: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 10px 10px #b9b7b7;
  overflow: hidden;
  cursor: pointer;
  transform: scale(0.8);
  margin-top: -80px;
  width: 100%;
}

@media (max-height: 800px) {
  .poster {
    transform: scale(0.6);
    margin-top: -160px;
  }
}
@media (max-width: 1400px) {
  .poster {
    transform: scale(0.6);
    margin-top: -160px;
  }
}
@media (max-width: 1199px) {
  .poster {
    transform: scale(1);
    margin-top: 0;
    height: 450px;
    max-width: 300px;
  }
  .poster .poster-content {
    transform: scale(0.4);
  }
}
@media (max-width: 490px) {
  .poster {
    height: 300px;
    max-width: 200px;
  }
}
.armin-hofmann .ficha-disenador .circulo {
  background-color: #f1da33;
}
.armin-hofmann .ficha-disenador .circulo_grande {
  background-color: #000;
}
.armin-hofmann .poster {
  background-color: #f1da33;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.armin-hofmann .poster .titulo,
.armin-hofmann .poster .info {
  position: absolute;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.armin-hofmann .poster .titulo p,
.armin-hofmann .poster .info p {
  margin: 0;
  line-height: 1.3;
}
.armin-hofmann .poster .titulo {
  bottom: 20px;
  left: 100px;
  font-size: 1.4em;
}
.armin-hofmann .poster .info {
  bottom: 120px;
  right: 120px;
  animation-delay: 0.5s;
}
.armin-hofmann .poster .container-pieza {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  column-gap: 10px;
  row-gap: 10px;
  transform: scale(0) translateX(50px) rotate(20deg) translateY(10px);
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.armin-hofmann .poster .container-pieza .pieza {
  background-color: #000;
}
.armin-hofmann .poster .container-pieza .pieza:first-of-type {
  grid-column: 1/3;
  grid-row: 1/2;
}
.armin-hofmann .poster .container-pieza .pieza:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/4;
}
.armin-hofmann .poster .container-pieza .pieza:nth-of-type(3) {
  grid-column: 2/4;
  grid-row: 3/4;
}
.armin-hofmann .poster .container-pieza .pieza:nth-of-type(4) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.armin-hofmann .poster .container-pieza .pieza:nth-of-type(5) {
  transition-delay: 0.3s;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.armin-hofmann .poster.animacion .info,
.armin-hofmann .poster.animacion .titulo {
  animation: animacion_texto_armin 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.armin-hofmann .poster.animacion .titulo {
  animation-delay: 0.4s;
}
.armin-hofmann .poster.animacion .container-pieza {
  animation: animacion_pieza_armin 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
}
.armin-hofmann .poster.animacion .container-pieza .pieza:nth-of-type(5) {
  animation: animacion_pieza_interior_armin 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

@media (max-width: 1199px) {
  .armin-hofmann .poster .titulo {
    bottom: 20px;
    left: 50px;
    font-size: 0.8em;
  }
  .armin-hofmann .poster .info {
    bottom: 80px;
    right: 50px;
    font-size: 0.5em;
  }
  .armin-hofmann .poster .container-pieza {
    transform: scale(1) translateX(-50px) rotate(20deg) translateY(-60px);
  }
  .armin-hofmann .poster.animacion .container-pieza {
    animation-name: animacion_pieza_armin_md;
  }
}
@media (max-width: 490px) {
  .armin-hofmann .poster .titulo {
    bottom: 10px;
    left: 40px;
    font-size: 0.5em;
  }
  .armin-hofmann .poster .info {
    bottom: 60px;
    right: 50px;
    font-size: 5px;
  }
  .armin-hofmann .poster .container-pieza {
    transform: scale(0.7) translateX(-140px) rotate(20deg) translateY(-140px);
  }
  .armin-hofmann .poster.animacion .container-pieza {
    animation-name: animacion_pieza_armin_sm;
  }
}
.karl-gerst .ficha-disenador .circulo {
  background-color: #1a4f9d;
}
.karl-gerst .ficha-disenador .circulo_grande {
  background-color: #ff6b2a;
}
.karl-gerst .poster {
  background-color: #ff6b2a;
}
.karl-gerst .poster .container-pieza {
  display: grid;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 1em;
  transform: rotate(-40deg) translateX(-140px) translateY(70px);
}
.karl-gerst .poster .texto-vertical {
  position: absolute;
  bottom: 80px;
  left: -70px;
  transform: rotate(-90deg);
  font-size: 0.9em;
}
.karl-gerst .poster .texto-vertical span {
  font-weight: 600;
}
.karl-gerst .poster h4 {
  font-family: "Almarai", sans-serif;
  text-align: end;
  font-weight: 600;
  font-size: 6em;
  letter-spacing: -3px;
  color: #1a4f9d;
  margin: 0;
  line-height: 1;
  opacity: 0;
}
.karl-gerst .poster h4:last-of-type {
  transform: rotate(90deg) translate(640px, 25px);
}
.karl-gerst .poster.animacion .texto-vertical {
  animation: animacion_texto_vertical_karl 1.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 2s;
  animation-fill-mode: both;
}
.karl-gerst .poster.animacion h4 {
  opacity: 1;
}
.karl-gerst .poster.animacion h4:first-of-type {
  animation: animacion_palabra_1_karl 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.karl-gerst .poster.animacion h4:nth-of-type(2) {
  animation: animacion_palabra_2_karl 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.karl-gerst .poster.animacion h4:nth-of-type(3) {
  animation: animacion_palabra_3_karl 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
.karl-gerst .poster.animacion h4:nth-of-type(4) {
  animation: animacion_palabra_4_karl 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
  transition: 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.karl-gerst .poster.animacion h4:last-of-type {
  transform: rotate(90deg) translate(240px, 20px);
  text-align: start;
  animation: animacion_palabra_5_karl cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@media (max-width: 1399px) {
  .karl-gerst .poster .container-pieza {
    transform: rotate(-40deg) translateX(-120px) translateY(70px);
  }
  .karl-gerst .poster h4:last-of-type {
    animation: animacion_palabra_5_karl_lg cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
    transform: rotate(90deg) translate(240px, 35px);
  }
}
@media (max-width: 1199px) {
  .karl-gerst .poster .container-pieza {
    transform: rotate(-40deg) translateX(-140px) translateY(70px);
  }
  .karl-gerst .poster .texto-vertical {
    bottom: 40px;
    left: -30px;
    transform: rotate(-90deg);
    font-size: 0.5em;
  }
  .karl-gerst .poster.animacion h4:last-of-type {
    animation: animacion_palabra_5_karl_md cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
    transform: rotate(90deg) translate(220px, 50px);
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
  .karl-gerst .container-pieza {
    transform: scale(0.5) rotate(-40deg) translateX(-70px) translateY(-120px);
  }
}
@media (max-width: 490px) {
  .karl-gerst .poster .container-pieza {
    transform: scale(0.35) rotate(-40deg) translateX(19px) translateY(-280px);
  }
  .karl-gerst .poster .texto-vertical {
    bottom: 20px;
    left: -20px;
    font-size: 5px;
  }
}
.milton-glaser .ficha-disenador .circulo {
  background-color: #212529;
}
.milton-glaser .ficha-disenador .circulo_grande {
  background-color: #ec0517;
}
.milton-glaser .poster {
  font-family: "Jost", sans-serif;
  font-size: 1em;
  text-align: center;
}
.milton-glaser .poster .poster-content.animacion .texto-vertical p {
  animation: animacion_letras_milton 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: backwards;
}
.milton-glaser .poster .poster-content.animacion .circulo {
  animation: animacion_circulo_milton 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 2.8s;
  animation-fill-mode: backwards;
}
.milton-glaser .poster .poster-content .texto-vertical p {
  position: relative;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(even) {
  color: #ec0517;
}
.milton-glaser .poster .poster-content .texto-vertical p:first-of-type {
  font-size: 13em;
  line-height: 0.4;
  z-index: 10;
  animation-delay: 0.5s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(2) {
  font-size: 8em;
  line-height: 0.6em;
  z-index: 9;
  animation-delay: 0.8s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(3) {
  font-size: 5em;
  line-height: 0.3em;
  z-index: 8;
  animation-delay: 1.2s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(4) {
  font-size: 4em;
  line-height: 0.6em;
  z-index: 7;
  animation-delay: 1.5s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(5) {
  font-size: 3em;
  line-height: 0.5em;
  z-index: 6;
  animation-delay: 1.8s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(6) {
  font-size: 2em;
  line-height: 0.5em;
  z-index: 5;
  animation-delay: 1.9s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(7) {
  font-size: 1.3em;
  line-height: 0.5em;
  z-index: 4;
  animation-delay: 2s;
}
.milton-glaser .poster .poster-content .texto-vertical p:nth-of-type(8) {
  font-size: 0.9em;
  line-height: 0.5em;
  z-index: 3;
  animation-delay: 2.1s;
}
.milton-glaser .poster .poster-content .circulo {
  height: 40px;
  width: 40px;
  margin: auto;
  background-color: #000;
  border-radius: 50%;
}
