
.karl-gerst {

    .poster {
        background-color: #ff6b2a;


        .texto-vertical {
            position: absolute;
            bottom: 80px;
            left: -70px;
            transform: rotate(-90deg);
            font-size: 0.9em;

            span {
                font-weight: 600;
            }
        }
    }

    .container-pieza {
        display: grid;
        max-width: 700px;
        width: 100%;
        margin: auto;
        transform: rotate(-40deg) translateX(-140px) translateY(70px);
        margin-top: 1em;
    }
    
    h4 {
        margin: 0;
        line-height: 1;
        font-family: 'Almarai', sans-serif;
        text-align: end;
        font-weight: 600;
        color: #1a4f9d;
        font-size: 6em;
        letter-spacing: -3px;
        opacity: 0;

        &:last-of-type {
            transform: rotate(90deg) translate(640px,25px);
        }
    }

    .poster.animacion {

        h4 {
            opacity: 1;

            &:first-of-type {
                animation: first 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                transition: 1.6s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
        
            &:nth-of-type(2) {
                animation: second 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: 1s;
                animation-fill-mode: backwards;
            }
        
            &:nth-of-type(3) {
                animation: tercero 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: 1.2s;
                animation-fill-mode: backwards;
            }
        
            &:nth-of-type(4) {
                animation: cuarto 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: 1.2s;
                animation-fill-mode: backwards;
                transition: 1.4s cubic-bezier(0.215, 0.610, 0.355, 1)
            }
        
            &:last-of-type {
                transform: rotate(90deg) translate(240px, 20px);
                text-align: start;
                animation: last-word cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s ;
                animation-delay: 1s;
                animation-fill-mode: backwards;

            }
        }

        .texto-vertical {
            animation: small-text 1.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            animation-delay: 2s;
            animation-fill-mode: both;
        }
    
    }

}


@keyframes first {

    0% {
        transform: translateX(800px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes second {

    0% {
        transform: translatey(10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes tercero {

    0% {
        transform: translatey(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}


@keyframes cuarto {

    0% {
        transform: translateX(-800px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes small-text {

    0% {
        transform: translateX(-20px) rotate(-90deg);
        opacity: 0;
    }

    30% {
        transform: translateX(-20px) rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0px) rotate(-90deg);
        opacity: 1;
    }
    
}

@keyframes last-word {

    0% {
        transform: rotate(90deg) translate(640px,20px);
        opacity: 0;
    }

    100% {
        transform: rotate(90deg) translate(240px,20px);
        opacity: 1;
    }
}

@media (max-width: 1399px) {
    .karl-gerst {

        .container-pieza {
            transform: rotate(-40deg) translateX(-120px) translateY(70px);
        }


        .poster.animacion {

            h4 {
    
                &:last-of-type {
                    animation: last-word_lg cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s ;
                    transform: rotate(90deg) translate(240px, 35px);
                }
            }
        }
    }
}

@keyframes last-word_lg {

    0% {
        transform: rotate(90deg) translate(640px,20px);
        opacity: 0;
    }

    100% {
        transform: rotate(90deg) translate(240px,35px);
        opacity: 1;
    }
}


@media (max-width:1199px) {

    .karl-gerst {

        .container-pieza {
            transform: rotate(-40deg) translateX(-140px) translateY(70px);
        }

        .poster {

            .texto-vertical {
                bottom: 40px;
                left: -30px;
                transform: rotate(-90deg);
                font-size: 0.5em;
            }

        }

        .poster.animacion {
      
            h4 {
    
                &:last-of-type {
                    animation: last-word_md cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s ;
                    transform: rotate(90deg) translate(220px, 50px);
                    animation-delay: 1s;
                    animation-fill-mode: backwards;
                }
            }
        }

        .container-pieza {
            transform: scale(0.5) rotate(-40deg) translateX(-70px) translateY(-120px);
        }

    }

}

@keyframes last-word_md {

    0% {
        transform: rotate(90deg) translate(640px,25px);
        opacity: 0;
    }

    100% {
        transform: rotate(90deg) translate(220px, 50px);
        opacity: 1;
    }
}


@media(max-width:490px) {

    .karl-gerst {

        .poster {

            .texto-vertical {
                bottom: 20px;
                left: -20px;
                font-size: 5px;
            }
        }
        
        .container-pieza {
            transform: scale(0.35) rotate(-40deg) translateX(19px) translateY(-280px);
        }
    }
}
