
.karl-gerst {

    .ficha-disenador {

        .circulo {
            background-color: #1a4f9d;
        }
        
        .circulo_grande {
            background-color: #ff6b2a;
        }
    }

    .poster {
        background-color: #ff6b2a;

        .container-pieza {
            display: grid;
            width: 100%;
            max-width: 700px;
            margin: auto;
            margin-top: 1em;
            transform: rotate(-40deg) translateX(-140px) translateY(70px);
        }

        .texto-vertical {
            position: absolute;
            bottom: 80px;
            left: -70px;
            transform: rotate(-90deg);
            font-size: 0.9em;

            span {
                font-weight: 600;
            }
        }

        h4 {
            font-family: 'Almarai', sans-serif;
            text-align: end;
            font-weight: 600;
            font-size: 6em;
            letter-spacing: -3px;
            color: #1a4f9d;
            margin: 0;
            line-height: 1;
            opacity: 0;
            
    
            &:last-of-type {
                transform: rotate(90deg) translate(640px,25px);
            }
        }
    }

    .poster.animacion {

        .texto-vertical {
            animation: animacion_texto_vertical_karl 1.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            animation-delay: 2s;
            animation-fill-mode: both;
        }

        h4 {
            opacity: 1;

            &:first-of-type {
                animation: animacion_palabra_1_karl 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                transition: 1.6s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
        
            &:nth-of-type(2) {
                animation: animacion_palabra_2_karl 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: 1s;
                animation-fill-mode: backwards;
            }
        
            &:nth-of-type(3) {
                animation: animacion_palabra_3_karl 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: 1.2s;
                animation-fill-mode: backwards;
            }
        
            &:nth-of-type(4) {
                animation: animacion_palabra_4_karl 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: 1.2s;
                animation-fill-mode: backwards;
                transition: 1.4s cubic-bezier(0.215, 0.610, 0.355, 1)
            }
        
            &:last-of-type {
                transform: rotate(90deg) translate(240px, 20px);
                text-align: start;
                animation: animacion_palabra_5_karl cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s ;
                animation-delay: 1s;
                animation-fill-mode: backwards;

            }
        }
    }
}

@media (max-width: 1399px) {

    .karl-gerst {

        .poster {

            .container-pieza {
                transform: rotate(-40deg) translateX(-120px) translateY(70px);
            }

            h4 {
    
                &:last-of-type {
                    animation: animacion_palabra_5_karl_lg cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s ;
                    transform: rotate(90deg) translate(240px, 35px);
                }
            }
        }
    }
}

@media (max-width:1199px) {

    .karl-gerst {

        .poster {

            .container-pieza {
                transform: rotate(-40deg) translateX(-140px) translateY(70px);
            }

            .texto-vertical {
                bottom: 40px;
                left: -30px;
                transform: rotate(-90deg);
                font-size: 0.5em;
            }
        }

        .poster.animacion {
      
            h4 {
    
                &:last-of-type {
                    animation: animacion_palabra_5_karl_md cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s ;
                    transform: rotate(90deg) translate(220px, 50px);
                    animation-delay: 1s;
                    animation-fill-mode: backwards;
                }
            }
        }

        .container-pieza {
            transform: scale(0.5) rotate(-40deg) translateX(-70px) translateY(-120px);
        }
    }
}

@media(max-width:490px) {

    .karl-gerst {

        .poster {

            .container-pieza {
                transform: scale(0.35) rotate(-40deg) translateX(19px) translateY(-280px);
            }

            .texto-vertical {
                bottom: 20px;
                left: -20px;
                font-size: 5px;
            }
        }
    }
}
